/* Category.css */

.dropdown {
	display: inline-block;
	position: relative;
  }
  
  .dropdown button {
	background-color: #6c757d;
	border-color: #6c757d;
	color: #ffffff;
  }
  
  .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
  
  .dropdown-menu li {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
  }  